.detailsCard{
    background: transparent;
    height: 100vp;
    margin-right: 90px;
    height: 100vh;
}

.detailsText {
    margin-top: 90px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items:baseline;

}