.detailsCard{
    background: transparent;
    height: 100vh;
    margin: 0 auto;
}

.detailsText {
    margin-top: 70px;
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items:baseline;

}

.detailsImg {
    object-fit: cover;
    width:  90%
}